.checker {
  font-size: 3vw;
  cursor: grab;
  border: 0;
  margin: 0;
}

.checker.translucent {
  opacity: 0.6;
}

.checker.moveable {
  animation: grow 0.5s infinite;
}

@keyframes grow {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-2deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
